<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сотрудники</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Должность</th>
        </tr>
        {% for emp in employees %}
        <tr>
            <td>{{ emp[0]}}</td>
            <td>{{ emp[1]}}</td>
            <td>{{ emp[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>